<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/about.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>About Lexi_Vault</h1>
        <p>This is a brief description of what my app is about.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl ac tincidunt luctus, nunc nunc lacinia nunc, ac lacinia nunc nunc eget nunc. Sed id semper nunc. Nulla facilisi. Sed vitae semper nunc. Fusce id nunc auctor, aliquet nunc ac, lacinia nunc. Sed id semper nunc. Nulla facilisi. Sed vitae semper nunc. Fusce id nunc auctor, aliquet nunc ac, lacinia nunc.</p>
    </div>
</body>
</html>