<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/about.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>About Lexi_Vault</h1>
        <p>This is a brief description of what Lexi_Vault App is about.</p>
        <p>Welcome To Lexi_Vault App Overview</p> 
        <p>Lexi_Vault is your go-to application for building and managing a personalized lexicon or vocabulary vault. This provides a detailed guide on using Lexi_Vault, its features, installation, and customization options.</p>
    </div>
</body>
</html>