<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="../static/styles/developers.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <title>Developers</title>
</head>
<body>
    <div class="container">
        <div class="dev">
            <h1>Meet The Developers</h1>
        </div>
        <div class="left-section">
            <div class="circle-box"> 
            </div>
            <div class="developer-details">
                <h2>Afonja Omotomiwa</h2>
                <P>Lorium Ipsum</P>
                <p>Tech Stack: HTML, CSS, JavaScript</p>
            </div>
            <div class="contact_logos">
                <div><a href="https://www.linkedin.com/mwlite/in/afonja-omotomiwa-6b80b61b2/"><img src="../static/images/linkedinlogo.png" alt="LinkedIn's logo"></a></div>
                <div><a href="https://twitter.com/i_am_omotomiwa/"><img src="../static/images/xlogo.png" alt="X's logo"></a></div>
                <div><a href="https://github.com/omotomiwa26"><img src="../static/images/githublogo.png" alt="GitHub's logo"></a></div>
            </div>
        </div>
        <div class="right-section">
            <div class="circle-box">
            </div>
            <div class="developer-details">
                <h2>Ajide Remilekun</h2>
                <p>Lorium Ipsum</p>
                <p>Tech Stack: HTML, CSS, JavaScript</p>
            </div>
            <div class="contact_logos">
                <div><a href="https://www.linkedin.com/"><img src="../static/images/linkedinlogo.png" alt="LinkedIn's logo"></a></div>
                <div><a href="https://twitter.com"><img src="../static/images/xlogo.png" alt="X's logo"></a></div>
                <div><a href="https://github.com/thekhalifaguy"><img src="../static/images/githublogo.png" alt="GitHub's logo"></a></div>
            </div>
        </div>
    </div>
</body>
</html