<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/lexi_vault.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <script defer src="../static/scripts/word_speech.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="../static/scripts/get_word.js"></script>
    <script defer src="../static/scripts/blink_alert.js"></script>
    <title>Lexi_Vault</title>
</head>
<body>
    <div class="img">
    <img src="../static/images/lexi_vault.png" alt="Your Image">
    </div>
    <div class="container">
    <h1>Word Search</h1>
    <form id="myform" method="post">
        <input type="text" id="wordInput" name="word" placeholder="Enter a word to search...">
        <input type="submit" value="Search word" id="searchBtn">
        <input type="button" id="audioBtn">
    </form>
    <textarea id="allWords" name="wordtext" readonly>{{ all_words }}</textarea>
    <textarea id="searchResult" readonly>{{ word }} - {{ meaning }} - {{ part_of_speech }}</textarea>
</body>

<a href= "suggest.html"> click here to suggest words to be added to lexi_Vault</a>
</html>