<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/lexi_vault.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <script src="../static/scripts/word_speech.js"></script>
    <title>Lexi_Vault</title>
</head>
<body>
    <div class="img">
    <img src="../static/images/lexi_vault.png" alt="Your Image">
    </div>
    <div class="container">
    <h1>Word Search</h1>
    <form method="post" id="wordInput">
            <input type="text" autocomplete="on" autofocus="on" name="word" id="wordInput" placeholder="Enter a word to search...">
            <button type="submit">Search Word</button>
            <button type="button" id="audiobtn" onclick="pronounceWord()">
                <img src="../static/images/audiobtn.png" alt="speaker" style="height: 15px; width: 30px;">
            </button>
        </form>
    <br>
    <textarea id="allWords" readonly>{{ all_words }}</textarea>
    <textarea id="searchResult" readonly>{{ meaning }} - {{part_of_speech}}</textarea>
</body>
</html>