<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/suggest.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Suggest</title>
</head>
<body>
    <div class="container">
        <h1>Suggest Words</h1>
    <form method="post">
        <input type="text" id="word" name="word" required placeholder="Enter a word to suggest...">
        <input type="submit" value="Submit Word">
    </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>List Of Suggested Words</th>
                </tr>
            </thead>
            <tbody>
                {% for word in suggested_words %}
                <tr>
                    <td>{{ word[0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
